# Default values for podinfo.
replicaCount: 3
logLevel: info
host: # 0.0.0.0
backend: # http://backend-podinfo:9898/echo
backends: []
image:
  repository: ghcr.io/weavegitops/application-promotion-podinfo
  tag: 5.2.0
  pullPolicy: IfNotPresent
ui:
  color: "#34577c"
  message: ""
  logo: ""
canary:
  loadtester:
    url: http://flagger-flagger-loadtester.flagger/
  ingress:
    url: podinfo.weavegitops.com
faults:
  delay: false
  error: false
  unhealthy: false
  unready: false
  testFail: false
  testTimeout: false
service:
  enabled: true
  annotations: {}
  type: ClusterIP
  metricsPort: 9797
  httpPort: 9898
  externalPort: 9898
  grpcPort: 9999
  grpcService: podinfo
  nodePort: 31198
  hostPort:
h2c:
  enabled: false
tls:
  enabled: false
  secretName:
  certPath: /data/cert
  port: 9899
  hostPort:
certificate:
  create: false
  issuerRef:
    kind: ClusterIssuer
    name: self-signed
  dnsNames:
    - podinfo
hpa:
  enabled: false
cache: ""
redis:
  enabled: false
serviceAccount:
  enabled: false
securityContext: {}
ingress:
  enabled: false
linkerd:
  profile:
    enabled: false
serviceMonitor:
  enabled: false
resources:
  limits:
  requests:
    cpu: 1m
    memory: 16Mi
nodeSelector: {}
tolerations: []
affinity: {}
podAnnotations: {}
